<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.OrderMapper">

    <select id="queryList" parameterType="String" resultType="com.jk.model.shoppingcar">
        SELECT * FROM t_shopping_car where car_id = #{id}
    </select>

    <insert id="addOrders" parameterType="com.jk.model.Order">
        insert t_order (orderNum,userName,collectAdd,goodsName,goodsNum,totalPrice,createTime,orderStatus,userId) values
        (#{orderNum},#{userName},#{collectAdd},#{goodsName},#{goodsNum},#{totalPrice},#{createTime},#{orderStatus},#{userId})
    </insert>

    <update id="updStatus" parameterType="String">
        UPDATE t_order set orderStatus = 2 where orderNum = #{outTradeNo}
    </update>
</mapper>
