<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.Mapper.CarMapper">

<select id="query" resultType="com.jk.model.shoppingcar">
    select * from t_shopping_car where user_id=#{jmh}
</select>

    <update id="addNum">
        update t_shopping_car t set goods_num = goods_num+1 where  car_id =#{id}
    </update>

    <update id="subNum">
        update t_shopping_car t set goods_num = goods_num-1 where  car_id =#{id}
    </update>

    <update id="subLostNum">
        update t_shopping_car t set goods_num = 1 where  car_id =#{id}
    </update>

    <update id="sddLostNum">
        update t_shopping_car t set goods_num = 99 where  car_id =#{id}
    </update>

    <update id="LostNum">
        update t_shopping_car t set goods_num = #{sum} where  car_id =#{id}
    </update>

    <delete id="del" parameterType="int">
        delete from t_shopping_car where car_id in
        <foreach collection="split" index="index" item="item" open="("
                 close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteA">
        delete from t_shopping_car where car_id = #{id}
    </delete>

    <select id="sumA" resultType="int">
         select count(1) from t_shopping_car where user_id=#{integer}
    </select>

    <select id="queryDetails" resultType="com.jk.model.Goods">
        select * from goods
    </select>

    <select id="queryListDetails" resultType="com.jk.model.t_commodity">
        select
        *
        from t_commodity where wineid=#{id}
    </select>

    <insert id="addFrom" parameterType="com.jk.model.shoppingcar">
       INSERT INTO t_shopping_car(goods_name,goods_num,goods_unit_price,goods_img,user_id) value(#{goods_name},#{goods_num},#{goods_unit_price},#{goods_img},#{user_id})
    </insert>

    <select id="queryaccount" parameterType="String" resultType="com.jk.model.userBean">
		select * from user where phone = #{user_name}
	</select>

    <insert id="Registration" parameterType="com.jk.model.userBean">
		 insert into user(user_name,phone,password,pid) values(#{user_name},#{phone},#{password},#{pid})
	</insert>

    <select id="findUserByLoginNumber" resultType="com.jk.model.userBean">
		select * from user where phone = #{phone}
	</select>
</mapper>