<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.Mapper.CarMapper">

<select id="query" resultType="com.jk.model.shoppingcar">
    select * from t_shopping_car
</select>

    <update id="addNum">
        update t_shopping_car t set goods_num = goods_num+1 where  car_id =#{id}
    </update>

    <update id="subNum">
        update t_shopping_car t set goods_num = goods_num-1 where  car_id =#{id}
    </update>

    <update id="subLostNum">
        update t_shopping_car t set goods_num = 1 where  car_id =#{id}
    </update>

    <update id="sddLostNum">
        update t_shopping_car t set goods_num = 99 where  car_id =#{id}
    </update>

    <update id="LostNum">
        update t_shopping_car t set goods_num = #{sum} where  car_id =#{id}
    </update>

    <delete id="del" parameterType="int">
        delete from t_shopping_car where car_id in
        <foreach collection="split" index="index" item="item" open="("
                 close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteA">
        delete from t_shopping_car where car_id = #{id}
    </delete>

    <select id="sumA" resultType="int">
         select count(1) from t_shopping_car
    </select>

    <select id="queryDetails" resultType="com.jk.model.Goods">
        select * from goods
    </select>

    <select id="queryListDetails" resultType="com.jk.model.Goods">
        select
        id as id,
        goods_title as goodsTitle,
        goods_name as goodsName,
        goods_img as goodsImg,
        goods_detail as goodsDetail,
        goods_price as goodsPrice,
        goods_stock as goodsStock,
        create_date as createDate,
        update_date as updateDate
        from goods where id=#{id}
    </select>
</mapper>