
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <title>订单结算-酒仙网</title>
    <link href="http://misc.jiuxian.com/css/newIndexCss/base.css" rel="stylesheet" type="text/css" />
    <link href="http://misc.jiuxian.com/css/header_cart_new.css" rel="stylesheet" type="text/css" />
    <link href="http://misc.jiuxian.com/css/newIndexCss/footer.css" rel="stylesheet" type="text/css" />
    <script src="http://misc.jiuxian.com/js/jquery.min.js" type="text/javascript"></script>
    <script src="http://misc.jiuxian.com/js/jquery.lazyload.js" type="text/javascript"></script>
    <script src="http://misc.jiuxian.com/js/newIndexJs/base.js" type="text/javascript"></script>

    <script src="http://misc.jiuxian.com/js/public/public.js" type="text/javascript"></script>

    <script src="http://misc.jiuxian.com/ordernew/pc/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="http://misc.jiuxian.com/ordernew/pc/js/address.js" type="text/javascript"></script>
    <script src="http://misc.jiuxian.com/ordernew/pc/js/slider_1.js" type="text/javascript"></script>
    <link  rel="stylesheet" type="text/css" href="http://misc.jiuxian.com/ordernew/pc/css/base.css"/>
    <link  rel="stylesheet" type="text/css" href="http://misc.jiuxian.com/ordernew/pc/css/order.css"/>

    <script type="application/javascript">
        //用户中心域名
        var domain_number = 'http://member.jiuxian.com';
        //商品路径
        var domain_detail = 'http://www.jiuxian.com';
        //购物车路径
        var domain_cart = 'http://cart.jiuxian.com';
        //购物车路径
        var domain_order = 'http://order.jiuxian.com';
        // misc
        var domain_misc = 'http://misc.jiuxian.com';
    </script>
</head>
<body>
<!-- 全站公共url变量 -->
<script type="text/javascript">
    window.jxdomain={
        misc:"http://misc.jiuxian.com",
        list:"http://list.jiuxian.com",
        pub:"http://public.jiuxian.com",
        detail:"http://www.jiuxian.com",
        home:"http://www.jiuxian.com",
        wine:"http://wine.jiuxian.com",
        spirits:"http://spirits.jiuxian.com",
        clear:"http://clear.jiuxian.com",
        tuan:"http://tuan.jiuxian.com",
        tehui:"http://tehui.jiuxian.com",
        happy:"http://www.jiuxian.com",
        special:"http://special.jiuxian.com",
        sale:"http://sale.jiuxian.com",
        brand:"http://brand.jiuxian.com",
        dingzhi:"http://dingzhi.jiuxian.com",
        order:"http://order.jiuxian.com",
        pay:"https://pay.jiuxian.com",
        cart:"http://cart.jiuxian.com",
        login:"https://login.jiuxian.com",
        member:"http://member.jiuxian.com",
        jifen:"http://jifen.jiuxian.com",
        help:"http://help.jiuxian.com",
        cps:"http://cps.jiuxian.com",
        iosapi:"http://iosapi.jiuxian.com",
        info:"http://info.jiuxian.com",
        shop:"http://shop.jiuxian.com",
        forum:"http://forum.jiuxian.com",
        act:"http://act.jiuxian.com",
        miaosha:"http://miaosha.jiuxian.com"
    };
</script>

<div class="topHeaderWrap">
    <div class="topHeader">
        <div class="topCollect">
            <ul>
                <li name="_login_status_panel"><div class="topLoginBox"><span><a href="javascript:;" class="loginNow">Hi 请登录</a><a style="padding:0 3px" href="javascript:;"  class="regNow">免费注册</a></span><i></i></div></li>
            </ul>
        </div>
        <div class="topRight">
            <ul>
                <li><a class="myOrder" target="_blank" href="http://member.jiuxian.com/trademanage/my_order-9.htm">我的订单</a><i></i></li>
                <li><a class="userCenter" target="_blank" href="http://member.jiuxian.com/index.htm">我的酒仙网</a><i></i></li>
                <li class="hotTel"><span>客服热线</span><strong>400-617-9999</strong></li>
            </ul>
        </div>
    </div>
</div>
<div class="midHeader">
    <div class="midHeaderBox">
        <div class="jxwLogo"><p style="background:url(http://img06.jiuxian.com/bill/2014/1226/a347f6723d3141fd9b9b9d464eff6fc7.png) no-repeat;" class="jxwIndex"><a href="http://www.jiuxian.com"></a></p></div>
        <div class="bayProcess">
            <div class="proPic"></div>
            <div class="proTex"><span class="on">我的购物车</span><span class="on2">确认订单信息</span><span class="on3">成功提交订单</span></div>
        </div>
    </div>
</div>
<!--页头end-->    <input id="userMobile" type="hidden" value="16619833191">
<input id="liststr" type="hidden" th:value="${liststr}">
<input id="cartStockoutGifts" type="hidden" value="">
<input id="stockoutGifts" type="hidden" value="">
<input id="selectAddressId" type="hidden" value="0">
<input id="regionId" type="hidden" value="500">
<!-- 不可用商品、运营停发、无货赠品商品数量 -->
<input id="unableProductCount" type="hidden" value="0">
<input id="stopTypeWeatherProductCount" type="hidden" value="0">
<input id="noStockGiftCount" type="hidden" value="0">
<input id="stopTypeDeliveryProductCount" type="hidden" value="0">
<!-- allCheckedIsJxDelivery 和supportCashOnDelivery boolean类型-->
<input id="allCheckedIsJxDelivery" type="hidden">
<input id="supportCashOnDelivery" type="hidden">
<!-- 商品总金额 和优惠金额 -->
<input id="totalPrice" type="hidden" value="0">
<input id="discountPrice" type="hidden" value="0">
<!-- 发票信息 -->
<input id="isInvoice" type="hidden" value="0">
<input id="invoiceMobile" type="hidden" value="" original="">
<input id="invoiceKinds" type="hidden" value="0">
<input id="invoiceType" type="hidden" value="0">
<input id="invoiceTop" type="hidden" value="">
<input id="invoiceContext" type="hidden" value="1">
<input id="taxpayerId" type="hidden" value="">
<!-- 礼品订单信息 -->
<input id="isGiftOrder" type="hidden" value="0">
<input id="getGiftName" type="hidden">
<input id="giveGiftName" type="hidden">
<input id="giveGiftMobile" type="hidden">
<input id="giftMessage" type="hidden">

<!--  津贴使用 -->
<input id="useAllowance" type="hidden" value="1">
<!--余额和返现信息 -->
<input id="backPrice" type="hidden" value="0">
<input id="isPayPassword" type="hidden" value="false">
<div class="orderWrap">
    <div class="orderBody">
        <!-- 标题 -->
        <!-- 收货地址信息 -->
        <div id="addressListDiv" class="pubWrap">		<div class="pubTitle">
            <h3>选择收货地址</h3>
        </div>
            <div class="addressList">
                <ul class="clearfix">
                    <li data-addrid="111538178" rgnregionid="2545" defaultaddress="true" supporteinv="true" addressconsignee="薛涵少" addressmore="货源街园丁公寓" addressmobile="166****3191" zipcode="" addressphone="" addressname="山西省 吕梁市 离石区" class="default"> <i class="orderIcon"></i>
                        <div class="addressListTop"><span id="userNameSp">薛涵少</span><span>收</span>
                            <a href="javascript:;" class="defaultLit setDefault" style="display: block;">  默认地址 </a>
                        </div>
                        <div class="addressListBottom">
                            <div class="address"><span id="userAddSp">山西省 吕梁市 离石区货源街园丁公寓</span></div>
                            <div class="phoneNum">
                                <span id="userPhoneSp">166****3191</span>
                            </div>
                            <div class="operatingBtn" style="display: none;"><a href="javascript:;" class="addr">修改</a><a href="javascript:;" class="delete">删除</a></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="addressMoreBox">
                <div class="addressMore" flag="off" style="display: none;"><a href="javascript:;"><span>展开收货地址</span><i class="orderIcon"></i></a></div>
                <div class="addressAdd"><a href="javascript:;"><i class="orderIcon"></i><span>新增收货地址</span></a></div>
            </div>
            <script>
                //地址列表少于等于3个隐藏展开按钮
                var addrListLen = $('.addressList').find('li').length;
                if(addrListLen <= 3){
                    $('.addressMore').hide();
                }else{
                    $('.addressMore').show();
                }
            </script>
        </div>
        <!-- 支付方式信息 -->
        <div class="pubWrap">
            <div class="pubTitle">
                <h3>选择支付方式</h3>
            </div>
            <div class="payMent">
                <div class="item cur"><span>在线支付</span><i class="orderIcon"></i><s class="orderIcon"></s>
                    <div class="payPrompt">支持支付宝、微信等多种支付平台。<em class="orderIcon"></em></div>
                </div>
            </div>
        </div>
        <!-- 商品信息 -->
        <div class="pubWrap">
            <div class="pubTitle">
                <h3>确认订单信息</h3>
                <div class="confirmRemind"><i class="orderIcon"></i><span>若商品来自不同商家和仓库，将按照仓库最优进行配送</span></div>
            </div>
            <div class="orderTable">
                <div class="tHead">
                    <div class="oTd item-1">商品信息</div>
                    <div class="oTd item-2">单价</div>
                    <div class="oTd item-3">数量</div>
                    <div class="oTd item-4">状态</div>
                    <div class="oTd item-5">小计</div>
                </div>
                <div id="shopInfos">
                    <div class="tBody">
                        <div class="tMain">
                            <div id="infoHtml"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 结算金额 -->
        <div class="pubWrap">
            <div class="settlementWrap">
                <!-- 金额信息 -->
                <div class="settlementBox clearfix">
                    <!-- 留言信息 -->
                    <div class="message"><span>留言信息</span><input id="orderPS" name="" type="text" placeholder="请勿填写有关支付、发票、物流配送等信息。谢谢！"  maxlength="45" class="form-5" /></div>
                    <div class="comTotalBox">
                        <div class="totalList"><span><em id="goodsCountInfo"></em>件商品，商品金额：</span><span class="comTotalSum" id="totalPriceInfo"></span></div>
                    </div>
                    </div>
                </div>
                <div class="settlementBox settlementBg">
                    <div class="settlementAmount">
                        <p><span>应付总金额：</span><em class="totleNum" id="totlePrice">￥0</em></p>
                        <p id="settlAddress"><span>寄送至：</span><em id="settlAddressInfo"></em></p>
                        <p id="settlConsignee"><span>收货人：</span><em id="settlConsigneeInfo"></em><em class="phoneNunber" id="settlMobleInfo"></em></p>
                    </div>
                    <div class="submitBtnBox">
                        <a  href="javascript:toShoppingCar()">返回购物车</a><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
                        <a href="javascript:submitOrders()">提交订单</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--半透明遮罩层-->
<div class="maskLayer"></div>
<div class="pubPop pop-1">
    <div class="pubInside">
        <input id="addaddressid" type="hidden" value="">
        <div class="pubInsideTitle">
            <span id="addressTitleDiv">新增收货地址</span>
            <i class="orderIcon pubClose"></i>
        </div>
        <div name="addAddressDiv" class="pubInsideBody">
            <div class="defaultAddr">
                <div id="addAddressRegion" class="d-item clearfix wrong">
                    <div class="title"><em>*</em><span>所在地区</span></div>
                    <div class="d-item-right">
                        <div class="addrSelect">
                            <div class="areaBox" id="_shdz"><a href="javascript:;" class="selectArea"><b>请选择省市区</b><b></b><b></b><i class="orderIcon"></i></a>
                                <div class="areaDetail">
                                    <div class="selectedBox">
                                        <a href="javascript:;"  pid="1" class=""><em>请选择省</em></a><!-- 省 -->
                                        <a href="javascript:;" class="selectCity"><em>请选择市</em></a><!-- 市 -->
                                        <a href="javascript:;" class="selectCounty"><em>请选择县/区</em></a><!-- 县 -->
                                    </div>
                                    <!-- 省列表 -->
                                    <div class="areaList provinceList" style="display:none;"><ul class="clearfix"></ul></div>
                                    <!-- 省名 -->
                                    <div class="areaList cityList" style="display: none;"><ul class="clearfix"></ul></div>
                                    <!-- 省会名 -->
                                    <div class="areaList countyList" style="display: none;"><ul class="clearfix"></ul></div>
                                </div>
                            </div>
                        </div>
                        <div class="pubPrompt" id="addrAreaPrompt"><i class="orderIcon"></i><span>请选择省市区</span></div>
                    </div>
                </div>
                <div class="d-item clearfix" id="addAddressDetail">
                    <div class="title"><em>*</em><span>详细地址</span></div>
                    <div class="d-item-right">
                        <textarea maxlength="52" id="addrTextarea" name="" cols="" rows="" class="form-2 nonEmpty" placeholder="请填写详细地址，无需重复填写省市区"></textarea>
                        <div class="pubPrompt" id="addrDetailPrompt"><i class="orderIcon"></i><span>请填写详细地址，不得少于5个字</span></div>
                    </div>
                </div>
                <div class="d-item clearfix" id="addAddressConsignee">
                    <div class="title"><em>*</em><span>收货人姓名</span></div>
                    <div class="d-item-right">
                        <input maxlength="10" id="addressconsignee" name="" type="text" class="form-1 nonEmpty" placeholder="请填写收货人姓名" />
                        <div class="pubPrompt" id="addrNamePrompt"><i class="orderIcon"></i><span>请填写收货人姓名</span></div>
                    </div>
                </div>
                <div class="d-item clearfix" id="addAddressMobile">
                    <div class="title"><em>*</em><span>手机</span></div>
                    <div class="d-item-right">
                        <input maxlength="11" id="addressmobile" name="" type="text" class="form-1 nonEmpty" placeholder="请填写手机号码" />
                        <div class="pubPrompt" id="addrPhonePrompt"><i class="orderIcon"></i><span>请填写收货人手机号</span></div>
                    </div>
                </div>
                <div class="d-item clearfix" id="addAddressPhone">
                    <div class="title"><span>固定电话</span></div>
                    <div class="d-item-right">
                        <input id="addressphone" name="" type="text" class="form-3" placeholder="区号" /><em class="bor">-</em><input id="addressPhoneAfter" name="" type="text" class="form-4" placeholder="固定电话号码" /><div class="pubPrompt"><i class="orderIcon"></i><span>请选择省市区</span></div>
                    </div>
                </div>
            </div>
            <div class="addrBtn"><a href="javascript:;" name="saveAddress">保存并使用</a><a href="javascript:;" class="cancel">取消</a></div>
        </div>
    </div>
</div>
<!--新增收货地址 end-->

<!--删除地址列表comfirm-->
<div class="pubPop pop-4">
    <div class="pubInside">
        <div class="pubInsideTitle">
            <span>删除</span>
            <i class="orderIcon pubClose"></i>
        </div>
        <div class="pubInsideBody">
            <div class="warningText"><i class="orderIcon"></i><span>确定要删除该地址吗？</span></div>
            <div class="addrBtn"><a href="javascript:;" class="sure">确定</a><a href="javascript:;" class="cancel">取消</a></div>
        </div>
    </div>
</div>
<!--删除地址列表comfirm end-->


<!--提交订单失败提框-->
<div class="pubPop pop-12">
    <div class="pubInside">
        <div class="pubInsideTitle">
            <span>提交订单</span>
            <i class="orderIcon pubClose" type="orderError"></i>
        </div>
        <div class="pubInsideBody">
            <div id="activateFailure" class="warningText failureText"><i class="orderIcon"></i><span>提交失败</span></div>
            <div class="pubText"></div>
            <div class="addrBtn"><a href="javascript:;" class="sure">我知道了</a></div>
        </div>
    </div>
</div>
<!--提交订单失败提框-->
<script src="http://misc.jiuxian.com/ordernew/pc/js/order.js" type="text/javascript"></script>
<!--页脚-->
<div class="footer">
    <div class="footerTopBox">
        <div class="footerTop">
            <div class="footerContact">
                <i class="publicIcon"></i><b>400-617-9999</b><span>客服热线</span><span>9:00-23:00</span><span>贴心服务</span>
            </div>
            <div class="footerTopRight">
                <div class="ftRight-tit">优惠促销早知道</div>
                <div class="ftRight-form">
                    <input id="subscribe_email" type="text" value="" name="" /><span>请输入您的邮箱地址</span><i class="publicIcon" id="subscribe_but"></i>
                </div>
            </div>
        </div>
        <div class="footerServices">
            <ul class="clearfix">
                <li class="servicesItme01">
                    <h3>
                        <i class="publicIcon"></i><span>新手入门</span>
                    </h3>
                    <p>
                        <a href="http://special.jiuxian.com/topic/zpbz/zhengpin.html" target="_blank" rel="nofollow">购物保障</a>
                    </p>
                    <p>
                        <a href="http://help.jiuxian.com/view-1-112.htm" target="_blank" rel="nofollow">服务协议</a>
                    </p>
                    <p>
                        <a href="http://help.jiuxian.com/view-1-113.htm" target="_blank" rel="nofollow">发票说明</a>
                    </p>
                </li>
                <li class="servicesItme02">
                    <h3>
                        <i class="publicIcon"></i><span>常见问题</span>
                    </h3>
                    <p>
                        <a href="http://help.jiuxian.com/view-2-114.htm" target="_blank" rel="nofollow">红包使用</a>
                    </p>
                    <p>
                        <a href="http://help.jiuxian.com/view-2-115.htm" target="_blank" rel="nofollow">返现使用</a>
                    </p>
                    <p>
                        <a href="http://help.jiuxian.com/view-2-116.htm" target="_blank" rel="nofollow">兑换码</a>
                    </p>
                </li>
                <li class="servicesItme03">
                    <h3>
                        <i class="publicIcon"></i><span>配送说明</span>
                    </h3>
                    <p>
                        <a href="http://help.jiuxian.com/view-3-118.htm#delivery_02" target="_blank" rel="nofollow">配送时间</a>
                    </p>
                    <p>
                        <a href="http://help.jiuxian.com/view-3-119.htm#delivery_03" target="_blank" rel="nofollow">配送费用</a>
                    </p>
                    <p>
                        <a href="http://help.jiuxian.com/view-3-117.htm#delivery_01" target="_blank" rel="nofollow">配送范围</a>
                    </p>
                </li>
                <li class="servicesItme04">
                    <h3>
                        <i class="publicIcon"></i><span>支付方式</span>
                    </h3>
                    <p>
                        <a href="http://help.jiuxian.com/view-4-120.htm#pay_1" target="_blank" rel="nofollow">货到付款</a>
                    </p>
                    <p>
                        <a href="http://help.jiuxian.com/view-4-121.htm#pay_2" target="_blank" rel="nofollow">在线支付</a>
                    </p>
                    <p>
                        <a href="http://help.jiuxian.com/view-4-122.htm#pay_3" target="_blank" rel="nofollow">线下支付</a>
                    </p>
                </li>
                <li class="servicesItme05">
                    <h3>
                        <i class="publicIcon"></i><span>售后服务</span>
                    </h3>
                    <p>
                        <a href="http://help.jiuxian.com/view-5-123.htm#bz_1" target="_blank" rel="nofollow">品质保证</a>
                    </p>
                    <p>
                        <a href="http://help.jiuxian.com/view-5-124.htm#bz_2" target="_blank" rel="nofollow">退换货政策</a>
                    </p>
                    <p>
                        <a href="http://help.jiuxian.com/view-5-125.htm#bz_3" target="_blank" rel="nofollow">退换货流程</a>
                    </p>
                </li>
                <li class="servicesItme06">
                    <h3>
                        <i class="publicIcon"></i><span>特色服务</span>
                    </h3>
                    <p>
                        <a href="http://jifen.jiuxian.com/club_index.htm" target="_blank">会员俱乐部</a>
                    </p>
                    <p>
                        <a href="http://member.jiuxian.com/company.htm" target="_blank" rel="nofollow">企业客户</a>
                    </p>
                    <p>
                        <a target="_blank" href="http://forum.jiuxian.com/">酒仙社区</a>
                    </p>
                </li>
                <li class="jxMicroblogging">
                    <div class="item sinaMb">
                        <div class="sinaMbCom clearfix">
                            <a href="http://weibo.com/jiuxianwang?sudaref=www.so.com" target="_blank" rel="nofollow"><i class="publicIcon"></i></a><a
                                href="http://weibo.com/jiuxianwang?sudaref=www.so.com" target="_blank" rel="nofollow">酒仙新浪微博</a>
                        </div>
                    </div>
                    <div class="item weixin">
                        <div class="weixinCon clearfix">
                            <i class="publicIcon"></i><a id="jxWeixin" falg="hide" href="javascript:;" target="_blank" rel="nofollow">酒仙微信</a>
                        </div>
                        <div class="weixinCode" id="weixinCode">
                            <img src="http://misc.jiuxian.com/img/newIndexImg/weixin-code.jpg?version=20160405" />
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="footerBotBox">
        <div class="footerBot clearfix">
            <div class="footerBotLeft">
                <p class="footerInfo">
                    <a href="http://help.jiuxian.com/view-0-105.htm" target="_blank" rel="nofollow">公司简介<i></i></a> <a href="http://help.jiuxian.com/view-0-106.htm" target="_blank" rel="nofollow">管理团队<i></i></a>
                    <a href="http://help.jiuxian.com/view-0-109.htm" target="_blank" rel="nofollow">媒体报道<i></i></a> <a href="http://help.jiuxian.com/view-0-110.htm" target="_blank" rel="nofollow">联系我们<i></i></a>
                    <a href="http://www.jiuxian.com/sitemap.htm" target="_blank">网站地图<i></i></a> <a href="http://www.jiuxian.com/allbrands.htm" target="_blank">品牌大全<i></i></a>
                </p>
                <p class="copyright">
                    北京酒仙网络科技有限公司&nbsp;&nbsp;©&nbsp;&nbsp;酒仙网&nbsp;&nbsp;&nbsp;2011&nbsp;&nbsp;jiuxian.com&nbsp;&nbsp;All&nbsp;&nbsp;&nbsp;Rights&nbsp;Reserved&nbsp;&nbsp;&nbsp;<a
                        href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP备17043395号</a>&nbsp;&nbsp;&nbsp;京公网安备1101050188221
                </p>
                <p class="footerAddr" style="color: #999; line-height: 22px; padding-top: 5px;">
                    <span>统一社会信用代码&nbsp;&nbsp;91110302306646672B&nbsp;&nbsp;&nbsp;食品流通许可证编号&nbsp;&nbsp;JY11131010328793&nbsp;&nbsp;&nbsp;京食药网食备201910019&nbsp;&nbsp;&nbsp;</span>
                </p>
                <p class="footerAddr" style="color: #999; line-height: 22px; padding-bottom: 7px;">
                    <span>地址：北京市北京经济技术开发区经海五路58号院8幢4层</span>
                </p>
                <p class="copybot">
                    <span id="kx_verify" style="float: left; padding-right: 6px;"></span>
                    <script type="text/javascript">
                        (function() {
                            var _kxs = document.createElement('script');
                            _kxs.id = 'kx_script';
                            _kxs.async = true;
                            _kxs.setAttribute('cid', 'kx_verify');
                            _kxs.src = ('https:' == document.location.protocol
                                ? 'https://ss.knet.cn' : 'http://rr.knet.cn')
                                + '/static/js/icon3.js?sn=2011040600100007749&tp=icon3';
                            _kxs.setAttribute('size', 0);
                            var _kx = document.getElementById('kx_verify');
                            _kx.parentNode.insertBefore(_kxs, _kx);
                        })();
                    </script>
                    <a href="http://img01.jiuxian.com/img1/nsy/icp01.jpg" target="_blank" rel="nofollow"><img src="http://misc.jiuxian.com/img/newIndexImg/copyBot03.jpg" width="128" height="47" /></a>

                </p>
                <p class="footerPro" style="padding: 8px 0 6px;">购买前请确认达到法定饮酒年龄！酒仙网不销售任何含酒精产品给18岁以下人士！</p>
            </div>
            <div class="footerBotCode">
                <div class="jxPho-code">
                    <p class="codePic">
                        <img alt="手机酒仙网" src="http://misc.jiuxian.com/img/newIndexImg/jxPho-code.jpg?version=20160405" width="80" height="80" />
                    </p>
                    <p class="codeText">手机酒仙网</p>
                </div>
                <div class="jkd-code">
                    <p class="codePic">
                        <img alt="微信公众号" src="http://misc.jiuxian.com/img/newIndexImg/jx-wxgzh.png" width="80" height="80" />
                    </p>
                    <p class="codeText">微信公众号</p>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="price"/>
<input type="outTradeNo" id="outTradeNo"/>
<style type="text/css">
    .footerBotLeft .footerInfo {
        margin-left: -8px;
    }

    .footerBotLeft p {
        font-family: Arial, Helvetica, sans-serif, "宋体";
    }

    .footerBotLeft .footerInfo a {
        color: #666;
    }

    .footerBotLeft .copyright {
        color: #666;
    }
</style>
<!--页脚end-->
<script type="text/javascript" src="https://misc.jiuxian.com/js/recommend_99.js"></script>
<script type="text/javascript" src="https://misc.jiuxian.com/js/third/99click/p_code.js"></script>
<script type="text/javascript" src="https://misc.jiuxian.com/js/third/99click/o_code.js"></script>
<script type="text/javascript">

    $(function () {
        search();
    })
    function search() {
        var strIds =$("#liststr").val();
        var arrayObj = "";
        for(var i = 1 ; i < strIds.length - 1; i++ ){
            if(!isNaN(strIds[i]) && strIds[i]!=" "){
                arrayObj+=strIds[i]+",";
            }
        }
        var str = arrayObj.substr(0, arrayObj.length - 1);
        //alert(str);
        $.ajax({
            url: 'http://192.168.1.111:8066/order/queryList',
            type: 'get',
            data: {
                strIds:str
            },
            success: function (data) {
                var goodsCountInfo = 0;
                var totalPriceInfo = 0;
                var shopInfos = "";
                var userNameSp = $("#userNameSp").text();
                var userAddSp = $("#userAddSp").text();
                var goodsName = data[0].goods_name+"等";
                for (var i = 0; i < data.length; i++) {
                    goodsCountInfo += data[i].goods_num;
                    totalPriceInfo += data[i].goods_unit_price * data[i].goods_num;
                    shopInfos+='<div class="oTr">\n' +
                        '            <div class="mainProduct ">\n' +
                        '                <div class="oTd item-1">\n' +
                        '                    <div class="img">\n' +
                        '                        <img src="'+data[i].goods_img+'" width="60" height="60">\n' +
                        '                    </div>\n' +
                        '                    <div class="name">'+data[i].goods_name+'</div>\n' +
                        '                </div>\n' +
                        '                <div class="oTd item-2">'+data[i].goods_unit_price+'.00</div>\n' +
                        '                <div class="oTd item-3">'+data[i].goods_num+'</div>\n' +
                        '                <div class="oTd item-4">有货</div>\n' +
                        '                <div class="oTd item-5">'+data[i].goods_total_price+'.00</div></div>\n' +
                        '        </div>'
                    $("#infoHtml").append(shopInfos);
                }
                $("#goodsCountInfo").html(goodsCountInfo);
                $("#totalPriceInfo").html(totalPriceInfo);
                $("#totlePrice").html(totalPriceInfo);
                $("#settlAddressInfo").html(userAddSp);
                $("#settlConsigneeInfo").html(userNameSp);
                addOrders(goodsCountInfo,totalPriceInfo,userAddSp,userNameSp,goodsName);
            }
            })

    }
    function addOrders(goodsCountInfo,totalPriceInfo,userAddSp,userNameSp,goodsName) {
        $("#price").val(totalPriceInfo);
        var outTradeNo="";  //订单号
        for(var i=0;i<6;i++) //6位随机数，用以加在时间戳后面。
        {
            outTradeNo += Math.floor(Math.random()*10);
        }
        outTradeNo = new Date().getTime() + outTradeNo;  //时间戳，用来生成订单号。
        $("#outTradeNo").val(outTradeNo);
        $.ajax({
            url: 'http://192.168.1.111:8066/order/addOrders',
            type: 'post',
            dataType:'json',
            data:{
                orderNum:outTradeNo,
                userName:userNameSp,
                userPhone:123456,
                collectAdd:userAddSp,
                goodsName:goodsName,
                goodsNum:goodsCountInfo,
                totalPrice:totalPriceInfo,
                createTime:new Date().format("yyyy-MM-dd hh:mm:ss"),
                orderStatus:1
            },
            success:function () {
            },
        });
    }


    function submitOrders() {
        var price = $("#price").val();
        var outTradeNo = $("#outTradeNo").val();

        location.href='http://192.168.1.111:8066/order/goAlipay?price='+price+'&outTradeNo='+outTradeNo;
    }
    
    function toShoppingCar() {
        
    }

    Date.prototype.format = function(fmt) {
        var o = {
            "M+" : this.getMonth()+1,                 //月份
            "d+" : this.getDate(),                    //日
            "h+" : this.getHours(),                   //小时
            "m+" : this.getMinutes(),                 //分
            "s+" : this.getSeconds(),                 //秒
            "q+" : Math.floor((this.getMonth()+3)/3), //季度
            "S"  : this.getMilliseconds()             //毫秒
        };
        if(/(y+)/.test(fmt)) {
            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
        }
        for(var k in o) {
            if(new RegExp("("+ k +")").test(fmt)){
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
            }
        }
        return fmt;
    }
</script>
</body>
<script src="http://misc.jiuxian.com/js/public/region.js" type="text/javascript"></script>
</html>